<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--Container for products-->
<div class="container mb-5 mt-5">
    <div class="row">
        <!--Card-->
        <div class="col-md-3">
            <div class="card mt-3">
               <div class="product-1 align-items-center p-2 text-center">
                   <img src="assets/images/applewatch.jpg" class="rounded" width="130" style="mix-blend-mode: multiply;">
                   <div class="cost mt-3 text-dark">
                    <h4>Watch</h4>
                   </div>

                   <!--Product info-->
                   <div class="mt-3 info">
                       <span class="text1 d-block">Lorem ipsum dolor sit amet consectetur adipisicing elit.</span>
                       <span class="text1">Lorem, ipsum dolor.</span>
                   </div>
                   <div class="cost mt-3 text-dark">
                       <span>$69.99</span>
                   </div>

                   <!--Button add to cart-->
                   <div class="p-2 article text-center text-white mt-3 cursor">
                       <div class="text-uppercase">
                           <span style="font-size: 15px;" routerLink="/shopbag">Add to cart</span>
                       </div>
                   </div>
               </div>
            </div>
        </div>

    </div>
</div>

