<header class="header">
    <nav class="navbar">

        <img src="/assets/images/e-comm-logo.png" width="70px">

        <!--Before Login-->
        <ul class="nav-menu">

            <li class="nav-item">

                <a class="nav-link" routerLink="/register"> Register</a>
            </li>
            <li class="nav-item">
                <a routerLink="/login" class="nav-link"><i class="fa fa-user"></i>&nbsp; Login</a>
            </li>
        </ul>

        <!--After Login-->
        <ul class="nav-links">
            <input type="checkbox" id="checkbox_toggle" />
            <label for="checkbox_toggle" class="hamburger"><strong>&#9776;</strong></label>
            <div class="menu">
                <li>
                    <a>

                        <span><i class="fa fa-user" aria-hidden="true" 
                        style="color:#008000;
                                font-size: 25px;
                                margin-top: 3px;"></i></span>

                    </a>
                </li>
                <li>
                    <a>
                        <div class="row">
                            <span routerLink="/shopbag"><i class="fa fa-shopping-bag" aria-hidden="true" 
                            style="color:#008000;
                                font-size: 23px;
                                margin-top: 2px;"></i></span>
                        </div>
                    </a>
                </li>
                <li class="services">
                    <a>
                        <div class="row">
                            <span><i class="fa fa-heart" aria-hidden="true" 
                            style="color:#008000;
                                font-size: 22px;
                                margin-top: 4px;"></i></span>
                        </div>
                    </a>
                </li>

            </div>
        </ul>

        <div class="responsive">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </nav>
</header>